MONGODB_URI=mongodb://database:27017
MONGODB_DB_NAME=sawarachats
API_PORT=3000
API_HOST=0.0.0.0
STOAT_API_URL=http://api:14702
CORS_ORIGIN=http://local.sawarachats.chat,http://localhost:5173
MC_DATA_ROOT=/data/minecraft
DOCKER_SOCKET_PATH=/var/run/docker.sock
DOCKER_NETWORK=stoat_default
